* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
  /* font-family: "Lato"; */
}

li {
  padding-bottom: 6px;
}

.navbar-toggler {
  border-color: #dddddd;
}

main {
  height: 100vh;
}

.navbar {
  background-color: #414f6b;
  height: 100%;
  align-items: flex-start;
}

#sidebar {
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.profile {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile img {
  border-radius: 50%;
  border: 6px solid #ddd;
}

.rounded-circle-icon {
  width: 40px;
  height: 40px;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-date {
  position: relative;
  min-width: 200px;
}

.timeline-content {
  position: relative;
  font-size: 14px;
}

.timeline-date::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -3px;
}

.timeline-content::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 4px solid #414f6b;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  left: -15px;
  top: 8px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .timeline-date {
    min-width: 90px;
  }

  .timeline-date p {
    font-size: 14px;
  }
}
